name: terraform apply 
on:
  workflow_run:
    workflows: ["CI"]
    types:
      - completed
  workflow_dispatch: 
concurrency:
 group: terraform-cd${{github.ref}}
 cancel-in-progress: true 
permissions:
  id-token: write
  contents: read 
jobs:
  apply: 
    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:
      - name: checkout repo for terraform apply 
        uses: actions/checkout@v4 
        with:
          fetch-depth: 0
      - name: install terraform to runner 
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.7
      - name: login to aws 
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{secrets.ROLE}}
          aws-region: ${{secrets.REGION}}
      - name: download artifact 
        uses: actions/download-artifact@v4
        with:
          path: ./
          name: terraform_file
        
      