name: terraform plan and apply 
on: 
  push:
    branches: [main,dev, staging, prod]
  pull_request: 
    branches: [dev, staging]
  workflow_dispatch: 
permissions:
  id-token: write
  contents: write
concurrency: 
  group: terraform-automate${{github.ref}}
  cancel-in-progress: true 
jobs:
  plan:
    runs-on: ubuntu-latest
    outputs:
      plan : ${{steps.terraform_plan.outputs.plan}}
    steps:
      - name: check out repo 
        uses: actions/checkout@v4 
        with:
          fetch-depth: 0
      - name: setup python env 
        uses: actions/setup-python@v5
        with:
          python-version: 3.11
      - name: setup terraform env 
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.5.7
      - name: aws login 
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{secrets.ROLE}}
          aws-region: ${{secrets.REGION}}
      - name: terraform init 
        run: |
          cd $GITHUB_WORKSPACE/environment/development
          terraform init -upgrade -input=false 
      - name: terraform fmt -check -recursive 
        run: |
          cd $GITHUB_WORKSPACE/environment/development
          terraform fmt 
      - name: terraform validate 
        run: |
          cd $GITHUB_WORKSPACE/environment/development
          terraform validate -no-color 
      - name: terraform lint 
        run: |
          curl -s https://raw.githubusercontent.com/terraform-linters/tflint/master/install_linux.sh | bash
          cd $GITHUB_WORKSPACE/environment/development
          tflint --format=json > tflint.json || true 
      - name: terraform security checks 
        uses: aquasecurity/tfsec-action@v1.0.3
        with:
          working_directory: ./environment/development
          soft_fail: true
          additional_args: "--minimum-severity CRITICAL --format json --out tfsec.json"
          
  
      - name: run checkov on terraform
        run: | 
          pip install checkov
          cd $GITHUB_WORKSPACE/environment/development
          checkov -d . -o json > checkov-report.json || true 
      - name: terraform plan 
        id: terraform_plan 
        run: |
          cd $GITHUB_WORKSPACE/environment/development
          ENVIRONMENT="${{github.ref_name}}"
          terraform workspace select -or-create $ENVIRONMENT
          terraform plan -out=tfplan -input=false -no-color
          echo "plan=$tfplan" >> $GITHUB_OUTPUT
      - name: check files
        run: ls -l 
  apply:
    runs-on: ubuntu-latest
    needs: plan
    environment: development
    steps:
      - name: check out repo 
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: aws login 
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{secrets.ROLE}}
          aws-region: ${{secrets.REGION}}
      - name: setup terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.5.7
      - name: terraform init 
        run: |
          cd $GITHUB_WORKSPACE/environment/development
          terraform init -no-color 
      - name: terraform apply 
        run: |
          cd $GITHUB_WORKSPACE/environment/development 
          terraform apply --auto-approve "${{needs.plan.outputs.plan}}"
