name: terraform apply 
on:
  workflow_run:
    workflows: ['plan']
    types: ['completed']
  workflow_dispatch: 

concurrency:
 group: terraform-cd${{github.ref}}
 cancel-in-progress: true 
permissions:
  id-token: write
  contents: write 

jobs:
  apply: 
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    environment: development 
    timeout-minutes: 3
    steps:
      - name: checkout repo for terraform apply 
        uses: actions/checkout@v4 
        with:
          fetch-depth: 0
      - name: install terraform to runner 
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.7
      - name: login to aws 
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{secrets.ROLE}}
          aws-region: ${{secrets.REGION}}
      - name: download artifact 
        uses: actions/download-artifact@v4
        with:
          path: ./
          name: terraform_file
      - name: download from s3 
        run: |
          aws s3 cp s3://bucket-store-felix-aws/check-report.json .
          aws s3 cp s3://bucket-store-felix-aws/tfplan .
          aws s3 cp s3://bucket-store-felix-aws/tfplan.json .
      - name: check downloaded file 
        run: ls -la .
      - name: terraform init for apply
        run: |
          cd $GITHUB_WORKSPACE/environment/development
          terraform init -no-color -input=false -upgrade
      - name: switch to workspace
        run: | 
          cd $GITHUB_WORKSPACE/environment/development
          environment="${{github.ref_name}}"
          terraform workspace select -or-create $environment
      - name: terraform apply 
        run: |
          cd $GITHUB_WORKSPACE/environment/development
          terraform apply --auto-approve -input=false tfplan

      - name: finished work 
        run: echo "apply done for ${{github.event.workflow_run.head_branch}}"
      - name: if failed 
        if: ${{failure()}}
        run: terraform destroy --auto-approve